/*
!/.gitignore
!/.gtkrc-2.0
!/.fonts
!/.config
/.config/*
!/.config/alacritty
!/.config/bspwm
!/.config/sxhkd
!/.config/kitty
!/.config/polybar
!/.config/dunst
!/.config/rofi
!/.config/gtk-3.0
!/.config/mpd
!/.config/ncmpcpp
/.config/ncmpcpp/error.log
!/.config/xsettingsd
!/.config/picom
!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/kunst
!/.local/share
/.local/share/*
!/.local/share/mpd
!/.local/share/ncmpcpp
